pillow
PyDrive2
aiohttp
cowpy
dnspython
emoji
gTTS
gTTS-token
google_images_download
gitpython
google-api-python-client
googletrans
hachoir
humanize
lxml
oauth2client
psutil
pyDownload
pybase64
pylast
pymongo[srv]
python-dotenv
pytube
pytz
redis
requests
search-engine-parser
speedtest-cli
spotify_token
telegraph
telethon
urbandict
wikipedia
lyricsgenius
pySmartDL
youtube-dl
coffeehouse
pyfiglet
heroku3
opencv
